@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&family=Story+Script&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(to right, #929292 50%, #242425 50%);
}
.logo{
    position: absolute;
    top: 20px;
    left: 20px
}
.logo img{
    width: 80px;
}
.menu{
    position: absolute;
    top: 20px;
    right: 40px;
}
.menu a{
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}
.menu a.active{
    color: cyan;
}
.container{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}
.content{
    text-align: center;
    max-width: 600px;
}
.content h1{
    font-size: 100px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-family: "Rubik Distressed", system-ui;
}
.carro{
    width: 400px;
    margin: 20px 0;
}
.content p{
    font-size: 14px;
    color: #525151;
    font-family: "Story Script", sans-serif;
}
.nav-btn{
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.imagem2{
    position: absolute;
    top: 50%;
    left: 0%;
}
.imagem1{
    position: absolute;
    top: 50%;
    right: 0%;
}